.toolbar {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(24, 24, 173, 0.975);
  color: white;
  position: fixed;        
  top: 0;                 
  left: 0;
  right: 0;
  z-index: 1000;          
  padding: 0 24px;
  height: 64px;           
}


.title {
  margin-right: 16px;
  color: white;
}

.center-buttons {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 12px;
}
.center-navigation {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 12px;
}
.spacer {
  width: auto;
  margin-left: auto;
}

mat-toolbar button {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 6px 16px;
  border-radius: 6px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}


mat-toolbar button:hover {
  background-color: rgba(100, 149, 237, 0.3); 
  border-color: white;
  cursor: pointer;
}


mat-toolbar button:focus,
mat-toolbar button:active {
  outline: none;
  background-color: rgba(100, 149, 237, 0.5);
}
